
.flex-container{
    height: 30px;
    width: 70%;
    border: 2px;
    border-color: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #004572;
    flex-basis: 1 3 1;
}
.a{
    text-align: center;
    font-weight: bold;
    color: #00D8FF;
}
.b{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    color: #00D8FF;
    flex-grow: 1 1 1 1;
    
}
.c{
    font-weight: bold;
    color: #00D8FF;
    display: flex;
    flex-direction: row;
}
.d{
    
    border-radius: 5px;
    border-color: #00D8FF;
}
.container{
    height: 500px;
    width: 70%;
    background-color: #4D81AD;
    display: flex;
}
.f{
    position: relative;
    width:33.3%;
    color: #00D8FF;

    text-shadow: 0px 4px 4px #30739E;
    font-family: Revalia;
    font-size: 30px;
    font-style: normal;
    top: 150px;
    

}
.g{
    position: relative ;
    top:30px;
    align-items: center;
}
.h{
    position: relative;
    top: 150px;
    color: #00D8FF;

text-shadow: 0px 4px 4px #30739E;
font-family: Revalia;
font-size: 30px;
font-style: normal;
}
.container2{
    display: flex;
    height: auto;
    width: 70%;
    background-color: #003E66;
    justify-content: space-around;
    color: #00D8FF;
    text-align: center;
    text-shadow: 0px 4px 4px #30739E;
    font-family: Revalia;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    letter-height: 100%; /* 40px */
    letter-spacing: 1.2px;
    flex-direction: column;
}
.i{
    justify-content: space-around;
    color: #00D8FF;
    text-align: center;
    text-shadow: 0px 4px 4px #30739E;
    font-family: Revalia;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    letter-height: 100%; /* 40px */
    letter-spacing: 1.2px;
    height: auto;
}
.k{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.m{
    width: 70%;
    background-color: #004572;
    display: flex;
    justify-content: space-around;

}
.n{
    width: 70%;
    background-color: #004572;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.n2{
    margin: 35px;
}
.o{
    width: 70%;
    background-color: #004572;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.im{
    border-radius: 15px;
}
.p{
    width: 70%;
    background-color: #004572;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.im2{
    border-radius: 15px;
}
.q{
    width: 70%;
    background-color: #004572;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.im3{
    border-radius: 15px;
}
.i1{
    border-radius: 15px;
}
.w{
    padding-top: 20px;
    padding-bottom: 20px;
    
    width: 70%;
    display: flex;
    justify-content: space-around;
    background-color: #003E66;;
}
.w1{
    color: #9ABEE9;
font-family: Inter;
font-size: 18px;
font-style: normal;

}
.w2{
    color: #9ABEE9;
font-family: Inter;
font-size: 18px;
font-style: normal;

}
.w3{
    color: #9ABEE9;
font-family: Inter;
font-size: 18px;
font-style: normal;

}
.w4{
    color: #9ABEE9;
font-family: Inter;
font-size: 18px;
font-style: normal;

}
.w5{
    color: #9ABEE9;
font-family: Inter;
font-size: 18px;
font-style: normal;

}
.l{
    width: 70%;
    display: flex;
    justify-content: space-around;
    background-color: #003E66;
}
.l2{
    width: 350px;
    border-radius: 10px;
    background-color: #9ABEE9;
    position: relative;
    left: 40px;
}
.l1{
    display: block;
}
.l12{
    display: flex;
    flex-direction: row;
}
.l13{
    display: flex;
    flex-direction: row;
}
.l14{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.x{
    border-radius: 150px;
}